<template name="viewBill">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>
          {{#if tax}}
            Tax Invoice
          {{else}}
            Cash Memo
          {{/if}}
         </h2></div>
    </div>
    <hr>

    <div class="row addr">
      <div class="col-md-6 hidden-print" >
        <label>Bill To</label>
        {{customer}}
      </div>

      <div class="col-md-6" id="seller-name">
        {{company.name}}, <br>
        {{company.address}}<br>
        {{company.phone}}<br><hr>
        {{#if tax}}
          {{#if company.vat}}<b>Vat - {{company.vat}}</b><br>{{/if}}
          {{#if company.lbt}}<b>Lbt - {{company.lbt}}</b><br>{{/if}}
        <hr>
        {{/if}}
      </div>
    </div>
    <div class="row date">
      
      <div class="col-md-6">
        Bill Number - {{billno}}
      </div>

      <div class="col-md-6">
        Date &amp; Time - {{formattedDate}}
      </div>

    </div>
    <hr>
    <table class="table" id="displayTable">
      <thead>
        <tr >
          <th class="text-center">Item</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">MRP</th>
          <th class="text-center">Amount</th>
        </tr>
      </thead>
      <tbody>
      {{#each data}}
        <tr>
          <td>{{description}}</td>
          <td>{{qty}}</td>
          <td>{{mrp}}</td>
          <td>{{amount}}</td>
        </tr>
      {{/each}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            &nbsp; <span id="t-total">{{info.total}}</span><br>
            - <span id="t-saving">{{info.savings}}</span>
            <hr>
            <span id="t-calcTotal">{{info.grand}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  {{#if tax}}
  <hr>
  
  <footer>
    {{company.declaration}}    
  </footer>
  {{/if}}
</template>