<template name="header">
<div class="nav-side-menu">
    <div class="brand">{{company.name}}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
            <ul id="menu-content" class="menu-content">

              <a href="{{pathFor 'items'}}">
                <li data-toggle="collapse" data-target="#items" class="collapsed {{isActiveRoute 'items'}}">
                  <i class="fa fa-plus-circle fa-lg"></i> Items
                </li>
              </a>

              <a href="{{pathFor 'bills'}}">
                <li  data-toggle="collapse" data-target="#bills" class="collapsed {{isActiveRoute 'bills'}}">
                  <i class="fa fa-calculator fa-lg"></i> Bill
                </li>
              </a>

              <a href="{{pathFor 'tableBill'}}">
                <li  data-toggle="collapse" data-target="#tableBill" class="collapsed {{isActiveRoute 'tableBill'}}">
                  <i class="fa fa-mixcloud fa-lg"></i>All Bills
                </li>
              </a>

              <a href="{{pathFor 'account'}}">
                <li  data-toggle="collapse" data-target="#account" class="collapsed {{isActiveRoute 'account'}}">
                  <i class="fa fa-user fa-lg"></i>Account
                </li>
              </a>

              <a href="{{pathFor 'settings'}}">
                <li  data-toggle="collapse" data-target="#settings" class="collapsed {{isActiveRoute 'settings'}}">
                  <i class="fa fa-cog fa-lg"></i>Settings
                </li>
              </a>
              <a href="{{pathFor 'balance'}}">
                <li  data-toggle="collapse" data-target="#balance" class="collapsed {{isActiveRoute 'balance'}}">
                  <i class="fa fa-area-chart fa-lg"></i>Balance Sheet
                </li>
              </a>

            </ul>
     </div>
</div>
</template>