body{
  background: #3E4147;
  color: #FFFEDF;
}
legend{
      color: #FFF;
}
.table-hover > tbody > tr:hover {
  cursor: pointer;
  background: #2A2C31;
  color: #ffffff; 
}

#iron-router-progress {
    background-color : #c0392b;
    box-shadow       : 0 0 5px #c0392b;
}

a:hover, a:focus {
    text-decoration: none;
}

.addr, .date{
  padding: 50px;
}

.buttons button{
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

@media print{

.content {
    margin-left: 1px;
    margin-top: 1px;
}
  .addr, .date{
    padding: none;
    padding: 0;
  }
  .nav-side-menu{
    display: none;
  }
  .container {
      width: 100%;
  }

}

h3{
  color: #3E4147;
}