<template name="AddCompany">
  <form id="addForm">
  <legend>Add Companies </legend>
  <div class="form-group">
    <label for="name">Company Name</label>
    <input type="text" id="name" class="form-control" required autofocus tabindex="1">
  </div>

  <div class="form-group">
    <label for="vat">Company VAT</label>
    <input type="text" id="vat" class="form-control" tabindex="1">
  </div>

  <div class="form-group">
    <label for="lbt">Company LBT</label>
    <input type="text" id="lbt" class="form-control" tabindex="1">
  </div>

  <input type="submit" value="Add Company" class="btn btn-primary" tabindex="1">
  </form>
</template>