<template name="BalanceList">
  <div class="form-inline container">
    <div class="form-group">
    {{#if filterOn}}
      <button class="btn btn-primary btn-lg" id="unsetDate">Reset Filter <i class="fa fa-calendar-times-o"></i></button>
    {{else}}
    <form id="dateFilter">
    <label>Filter table by date</label>
      <input type="date" id="startDate" class="form-control">
      <input type="date" id="endDate" class="form-control">
      <button type="submit" class="btn btn-primary">Filter by date <i class="fa fa-calendar-check-o"></i></button>

      </form>
    {{/if}}
    </div>
  </div> 
  <br><br>
  {{#if balanceFound}}
  <table id="list" class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Amount</th>
        <th>VAT</th>
        <th>LBT</th>
      </tr>
    </thead>
    <tbody>
        {{#each balance}}
        <tr>
          <td>{{getNameFromParty id}}</td>
          <td>{{date}}</td>
          <td>₹ {{numberWithCommas amount}}</td>
          <td>{{getVATFromParty id}}</td>
          <td>{{getLBTFromParty id}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>
  {{else}}
      <div class="jumbotron">
        <h3>No records found.</h3>
      </div>
  {{/if}}
</template>